.containernav{
    height: 100vh;
    width: 125px;
    background-color:#f3f1ee ;
    border: 1px solid white;
    margin-left: 12px;
    margin-top: 12px;
}
#item{
    font-size: x-small;
    margin-top: 5px;
}
#todo{
    height: 100vh;
    width: 300px;
    background-color:#f3f1ee ;
    border: 1px solid white;
 margin-left: 12px;
 margin-top: 12px;
}